<body>
  <div class="house">
    <div class="chimney"></div>
    <div class="roof"></div>
    <div class="window" style="top: 210px; left: 118px; z-index: 99">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
    <div class="window" style="top: 210px; left: 315px; z-index: 99">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
    <div class="wall"></div>
    <div class="door"></div>
    <div class="door-knob"></div>
  </div>
</body>
